%p#notice= notice
%h1 Listing Comets
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @comets.each do |comet|
      %tr
        %td= link_to 'Show', comet
        %td= link_to 'Edit', edit_comet_path(comet)
        %td= link_to 'Destroy', comet, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Comet', new_comet_path
