%p#notice= notice
%h1 Listing Billboard Artists
%table
  %thead
    %tr
      %th String
      %th{:colspan => "3"}
  %tbody
    - @billboard_artists.each do |billboard_artist|
      %tr
        %td= billboard_artist.name
        %td= link_to 'Show', billboard_artist
        %td= link_to 'Edit', edit_billboard_artist_path(billboard_artist)
        %td= link_to 'Destroy', billboard_artist, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Billboard artist', new_billboard_artist_path
