<%= form_for(@billboard_chart) do |f| %>
  <% if @billboard_chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billboard_chart.errors.count, "error") %> prohibited this billboard_chart from being saved:</h2>

      <ul>
      <% @billboard_chart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chart_date %><br>
    <%= f.text_field :chart_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
