%p#notice= notice
%h1 Listing Billboard Tracks
%table
  %thead
    %tr
      %th String
      %th Artist
      %th{:colspan => "3"}
  %tbody
    - @billboard_tracks.each do |billboard_track|
      %tr
        %td= billboard_track.name
        %td= billboard_track.billboard_artist
        %td= link_to 'Show', billboard_track
        %td= link_to 'Edit', edit_billboard_track_path(billboard_track)
        %td= link_to 'Destroy', billboard_track, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Billboard track', new_billboard_track_path
