<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @billboard_track.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @billboard_track.billboard_artist %>
</p>

<%= link_to 'Edit', edit_billboard_track_path(@billboard_track) %> |
<%= link_to 'Back', billboard_tracks_path %>
