<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
*/
.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}

</style>

<div class="stacked-grouped-bar-chart" id="by_program_male">
  <h3>PSU Engineering Graduates by Ethnicity and Gender</h3>
  <!-- <form>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
  </form> -->
</div>

<div class="stacked-grouped-bar-chart" id="by_program_female">
  <h3>PSU Engineering Graduates by Ethnicity and Gender</h3>
  <!-- <form>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
  </form> -->
</div>

<div class="stacked-grouped-bar-chart" id="by_ethnicity">
  <h3>PSU Engineering Graduates by Ethnicity and Gender</h3>
  <form>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
  </form>
</div>

<%= render partial: 'thanks_asee' %>
<script>

  false && stackedGroupedBarChart({
    selector: '#by_ethnicity',
    width: 960,
    height: 500,
    dataFile: '/visualizations/psu_data.json?year=2016&type=by_ethnicity',
    valueFieldsLabels: {
      asi_f: "<%= get_ethnicity :asi %> Female",
      asi_m: "<%= get_ethnicity :asi %> Male",
      blk_f: "<%= get_ethnicity :blk %> Female",
      blk_m: "<%= get_ethnicity :blk %> Male",
      his_f: "<%= get_ethnicity :his %> Female",
      his_m: "<%= get_ethnicity :his %> Male",
      ind_f: "<%= get_ethnicity :ind %> Female",
      ind_m: "<%= get_ethnicity :ind %> Male",
      pac_f: "<%= get_ethnicity :pac %> Female",
      pac_m: "<%= get_ethnicity :pac %> Male",
      tot_f: "<%= get_ethnicity :tot %> Female",
      tot_m: "<%= get_ethnicity :tot %> Male",
      two_f: "<%= get_ethnicity :two %> Female",
      two_m: "<%= get_ethnicity :two %> Male",
      unk_f: "<%= get_ethnicity :unk %> Female",
      unk_m: "<%= get_ethnicity :unk %> Male",
      wht_f: "<%= get_ethnicity :wht %> Female",
      wht_m: "<%= get_ethnicity :wht %> Male"
    }
  });
  d3.json('/visualizations/psu_data.json?year=2016&type=by_program_male', function(error, data) {
    if (error) throw error;

    var visualization = new StackedGroupedBarChart({
      selector: '#by_program_male',
      width: 960,
      height: 500,
      data: data,
      // valueFieldsLabels: [
      //   'Aerospace Engineering (B.S.)',
      //   'Biomedical Engineering (B.S.)',
      //   'Civil Engineering (B.S.)',
      //   'Computer Engineering (B.S.)',
      //   'Electrical Engineering (B.S.)',
      //   'Interdisciplinary Engineering (B.S.)',
      //   'Mechanical Engineering (B.S.)'
      // ],
      groupBy: 'program',
      valueFieldsLabels: {
        asi_f: "<%= get_ethnicity :asi %> Female",
        asi_m: "<%= get_ethnicity :asi %> Male",
        blk_f: "<%= get_ethnicity :blk %> Female",
        blk_m: "<%= get_ethnicity :blk %> Male",
        his_f: "<%= get_ethnicity :his %> Female",
        his_m: "<%= get_ethnicity :his %> Male",
        ind_f: "<%= get_ethnicity :ind %> Female",
        ind_m: "<%= get_ethnicity :ind %> Male",
        pac_f: "<%= get_ethnicity :pac %> Female",
        pac_m: "<%= get_ethnicity :pac %> Male",
        tot_f: "<%= get_ethnicity :tot %> Female",
        tot_m: "<%= get_ethnicity :tot %> Male",
        two_f: "<%= get_ethnicity :two %> Female",
        two_m: "<%= get_ethnicity :two %> Male",
        unk_f: "<%= get_ethnicity :unk %> Female",
        unk_m: "<%= get_ethnicity :unk %> Male",
        wht_f: "<%= get_ethnicity :wht %> Female",
        wht_m: "<%= get_ethnicity :wht %> Male"
      }
    });
    visualization.draw();

    $('[name="mode"]').click(function(){
      if($(this).val()=="grouped"){
        visualization.transitionGrouped();
      } else {
        visualization.transitionStacked();
      }
    });

  });


</script>
