<%= form_for(@billboard_chart_entry) do |f| %>
  <% if @billboard_chart_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billboard_chart_entry.errors.count, "error") %> prohibited this billboard_chart_entry from being saved:</h2>

      <ul>
      <% @billboard_chart_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :last_week_position %><br>
    <%= f.text_field :last_week_position %>
  </div>
  <div class="field">
    <%= f.label :peak_position %><br>
    <%= f.text_field :peak_position %>
  </div>
  <div class="field">
    <%= f.label :weeks_on_chart %><br>
    <%= f.text_field :weeks_on_chart %>
  </div>
  <div class="field">
    <%= f.label :chart_entry_date %><br>
    <%= f.text_field :chart_entry_date %>
  </div>
  <div class="field">
    <%= f.label :entry_position %><br>
    <%= f.text_field :entry_position %>
  </div>
  <div class="field">
    <%= f.label :overall_peak_position %><br>
    <%= f.text_field :overall_peak_position %>
  </div>
  <div class="field">
    <%= f.label :overall_weeks_on_chart %><br>
    <%= f.text_field :overall_weeks_on_chart %>
  </div>
  <div class="field">
    <%= f.label :overall_weeks_on_chart %><br>
    <%= f.text_field :overall_weeks_on_chart %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
