<p id="notice"><%= notice %></p>

<h1>Listing Billboard Chart Entries</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Last Week Position</th>
      <th>Peak position</th>
      <th>Weeks on Chart</th>
      <th>Chart Entry Date</th>
      <th>Entry Position</th>
      <th>Overall Peak Position</th>
      <th>Weeks On Chart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billboard_chart_entries.each do |billboard_chart_entry| %>
      <tr>
        <td><%= billboard_chart_entry.position %></td>
        <td><%= billboard_chart_entry.last_week_position %></td>
        <td><%= billboard_chart_entry.peak_position %></td>
        <td><%= billboard_chart_entry.weeks_on_chart %></td>
        <td><%= billboard_chart_entry.chart_entry_date %></td>
        <td><%= billboard_chart_entry.entry_position %></td>
        <td><%= billboard_chart_entry.overall_peak_position %></td>
        <td><%= billboard_chart_entry.overall_weeks_on_chart %></td>
        <td><%= link_to 'Show', billboard_chart_entry %></td>
        <td><%= link_to 'Edit', edit_billboard_chart_entry_path(billboard_chart_entry) %></td>
        <td><%= link_to 'Destroy', billboard_chart_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billboard chart entry', new_billboard_chart_entry_path %>
