<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @billboard_chart_entry.position %>
</p>

<p>
  <strong>Last Week Position:</strong>
  <%= @billboard_chart_entry.last_week_position %>
</p>

<p>
  <strong>Peak position:</strong>
  <%= @billboard_chart_entry.peak_position %>
</p>

<p>
  <strong>Weeks on Chart:</strong>
  <%= @billboard_chart_entry.weeks_on_chart %>
</p>

<p>
  <strong>Chart Entry Date:</strong>
  <%= @billboard_chart_entry.chart_entry_date %>
</p>

<%= link_to 'Edit', edit_billboard_chart_entry_path(@billboard_chart_entry) %> |
<%= link_to 'Back', billboard_chart_entries_path %>
