<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Peak position:</strong>
  <%= @billboard_chart_entry.peak_position %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @billboard_chart_entry.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @billboard_chart_entry.belongs_to %>
</p>

<p>
  <strong>Date:</strong>
  <%= @billboard_chart_entry.date %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @billboard_chart_entry.integer %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @billboard_chart_entry.belongs_to %>
</p>

<%= link_to 'Edit', edit_billboard_chart_entry_path(@billboard_chart_entry) %> |
<%= link_to 'Back', billboard_chart_entries_path %>
