<!DOCTYPE html>
<html>
<head>
  <title>Visualizations</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Visualizations</h1>
  <h3><%= link_to "Asteroid Bar Chart", asteroid_bar_chart_visualizations_path %></h3>
  <h3><%= link_to "Asteroid Pie Chart", asteroid_pie_chart_visualizations_path %></h3>
  <h3><%= link_to "Asteroid Scatter Plot", asteroid_scatter_plot_visualizations_path %></h3>
  <h3><%= link_to "PSU Engineering Graduate Data - Stacked Grouped Bar Chart", psu_data_visualizations_path(year: 2016) %></h3>

  <%= yield %>

</body>
</html>
