!!!

%html
  %head
    %title Visualizations Gallery
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{property: "og:image", content: image_tag('https://rocky-atoll-31651.herokuapp.com/life_expectancy_example.png')}
    %meta{property: "og:description", content: "Examples of visualizations created with d3.js, rendered in React.js, supported by a Ruby on Rails backend"}
    %meta{property: "og:url", content: "https://rocky-atoll-31651.herokuapp.com/visualizations/"}
    %meta{property: "og:title", content: "Visualizations Gallery"}
%body
  .container
    .row
      .col-sm-12
        %h1 Visualizations Gallery
    .row
      .col-sm-2
        %p= link_to "Asteroid Bar Chart", asteroid_bar_chart_visualizations_path
        %p= link_to "Asteroid Pie Chart", asteroid_pie_chart_visualizations_path
        %p= link_to "Asteroid Scatter Plot", asteroid_scatter_plot_visualizations_path
        %p= link_to "PSU Engineering Graduate Data - Stacked Grouped Bar Chart", psu_data_visualizations_path
        %p= link_to "World Life Expectancy - Multi Line Chart", life_expectancy_multi_line_chart_visualizations_path
        %p Billboard Singles - Multi Line Chart
        %p
          = link_to "Top 10", billboard_multi_line_chart_visualizations_path(params.merge chart_length: 10)
          = link_to "Top 40", billboard_multi_line_chart_visualizations_path(params.merge chart_length: 40)
          = link_to "Top 100", billboard_multi_line_chart_visualizations_path(params.merge chart_length: 100)
        %p
          - (1940..2015).each do |year|
            = link_to year, billboard_multi_line_chart_visualizations_path(params.merge year: year)
      .col-sm-10
        = yield
