<!DOCTYPE html>
<html>
<head>
  <title>Visualizations</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Visualizations</h1>
  <h3><%= link_to "Asteroid Bar Chart", asteroid_bar_chart_visualizations_path %></h3>
  <h3><%= link_to "Asteroid Pie Chart", asteroid_pie_chart_visualizations_path %></h3>
  <h3><%= link_to "Asteroid Scatter Plot", asteroid_scatter_plot_visualizations_path %></h3>
  <h3><%= link_to "PSU Engineering Graduate Data - Stacked Grouped Bar Chart", psu_data_visualizations_path %></h3>
  <h3><%= link_to "World Life Expectancy - Multi Line Chart", life_expectancy_multi_line_chart_visualizations_path %></h3>
  <h3>Billboard Singles - Multi Line Chart</h3>
  <p>
    <%= link_to "Top 10", billboard_multi_line_chart_visualizations_path(params.merge chart_length: 10) %>
    <%= link_to "Top 40", billboard_multi_line_chart_visualizations_path(params.merge chart_length: 40) %>
    <%= link_to "Top 100", billboard_multi_line_chart_visualizations_path(params.merge chart_length: 100) %>
  </p>
  <p>
    <% (1940..2015).each do |year|  %>
      <%= link_to year, billboard_multi_line_chart_visualizations_path(params.merge year: year) %>
    <% end %>
  </p>

  <%= yield %>

</body>
</html>
